.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h2, h3 {
    color: #01050a;
}

.blog-post {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date {
    color: #777;
    font-style: italic;
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}